.recipe-box {
    width: 700px;
    margin: auto;
    position: relative;
    right: 20%;
}

.recipe-title {
    width: 100%;
    border: 3px solid black;
    padding: 3px;
    margin: 3px;
    background-color: white;
    text-align: center; 
}

h1 {
    text-align: center;
}

.author-box {
    width: 50%;
    border: 3px solid black;
    padding: 3px;
    margin: 3px;
    float: left;
}
.author-box > img {
    display: inline-block;
    vertical-align:middle;
}

.author-box > h1 {
    text-align: right;
}

.recipe-info {
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 1%;
}

.rating-box {
    border: 3px solid black;
    padding: 3px;
    width: 50%;
    float: left;
    margin: 3px;
}

.description-box {
    width: 100%;
    border: 3px solid black;
    padding: 3px;
    margin: 3px;
    float: left;
    height: 30%;
}

.recipe-image-box {
    width: 100%;
    border: 3px solid black;
    padding: 3px;
    margin: 3px;
    float: left;
    height: 40%;
}

.ingredient-box {
    width: 100%;
    border: 3px solid black;
    padding: 3px;
    margin: 3px;
    float: left;
    height: 20%;
}

.recipe-instruction-box {
    width: 100%;
    border: 3px solid black;
    padding: 3px;
    margin: 3px;
    float: left;
    height: 20%;
}

