nav {
    width: 100%;
    height: var(--navbar-height);
    display: grid;
    grid-template-columns: 1fr 1fr;
    --navbar-color: lightgray;
    background-color: var(--navbar-color);
    position: fixed;
    z-index: var(--navbar-z-index);
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button {
    appearance: none;
    padding: 0 1rem;
    font-family: inherit;
    border: 0;
    height: 100%;
    background-color: var(--navbar-color);
}

button:hover {
    background-color: white;
}

button:active {
    background-color: white;
}